.correct-letters-container {
  display: flex;
  justify-content: space-evenly;
  height: 15vh;
  margin-bottom: 30vh;
}

.letter-container {
  display: flex;
  flex-direction: column;
  width: 5%;
  align-items: center;
}

.letter {
  height: 10vh;
  font-size: 350%;
  position: relative;
  display: inline-block;
}

.underline {
  width: 100%;
  border-bottom: 1px solid black;
}
