.used-letters-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10vh;
}

.wrongLetters-title {
  font-weight: bold;
}

.wrongLetters-receptical {
  display: flex;
}

.wrongLetter {
  font-weight: bold;
}
